body {
  background-color: #94BEDB;
}

.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	background: url('images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-right: 1em;
  border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}
.stack {
	clear: both;
}

.inspiration { 
	margin-left: 3em;
}

.result {
	padding: 5px;
	margin: 2em auto 1em auto;
  border-radius: 5px;
  background-color: #eee;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

a {
  text-decoration: none;
  color: #FE7C00;
}

img {
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
  top: 3em;
}

.name-text {
  position: relative;
  left: 5em;
  font-size: 2em;
  bottom: 2em;
}

.reputation {
  position: relative;
  left: 15.5em;
  bottom: 4.5em;

}

.rep-title {
  position: relative;
  left: 12.5em;
  bottom: 3.4em;
  font-weight: bold;
}

.score-title {
  position: relative;
  left: 12.5em;
  bottom: 4em;
  font-weight: bold;
}

.score {
  position: relative;
  left: 13.5em;
  bottom: 5.2em;
}

input[type="submit"] {
  background-color: orange;
  border-radius: 5px;
  border: none;
}
